* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(82, 205, 215, 1) 0%,
    rgba(5, 33, 71, 1) 100%
  );
}

#startscreen {
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

h1 {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.tagline {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#durationscreen {
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.duration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.time-selector-container {
  display: flex;
  gap: 20px;
  padding-bottom: 70px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 13px;
}

.time-selectors {
  display: flex;
  gap: 30;
}

.time-selector {
  color: #0000004b;
}

.time-selector p {
  font-size: 32px;
  font-weight: 400;
}

.time-selector span {
  font-size: 100px;
}

.time-selector:hover {
  cursor: pointer;
}

.button {
  font-size: 32px;
  padding: 13px 35px;
  border: 2px solid #000;
  border-radius: 60;
  margin-top: 40px;
  max-width: 75%;
}

.button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

input {
  visibility: hidden;
}

input:checked + div {
  color: #000;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

#countdownscreen {
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.countdown-number {
  font-size: 200;
  font-weight: 400;
  position: absolute;
}

#exercicescreen {
  /* visibility: hidden; */
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -2;
}

.exercice-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  z-index: -1;
  background-color: #ffffff38;
  width: 300px;
  height: 300px;
  border-radius: 1200;
}

.instruction {
  color: #fff;
  position: absolute;
  opacity: 0;
}

.instruction.instruction-active {
  opacity: 1;
}

#endscreen {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
